In [1]:
!unzip bustime_chattanooga_jan_2022.json.zip

Archive:  bustime_chattanooga_jan_2022.json.zip
replace bustime_chattanooga_jan_2022.json? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: bustime_chattanooga_jan_2022.json  y

In [26]:
import json
with open("bustime_chattanooga_jan_2022.json", "r") as f:
    data = json.load(f)

dated = []
for record in data:
    tmstmp = record["tmstmp"]
    vid = record['vid']
    if "20220111" in tmstmp and int(vid)> 702:
        dated.append(record)

In [31]:
dated[:5]

[{'_id': {'$oid': '61dd5fe9248c4f2ab8aa0f90'},
  'des': None,
  'dly': 'false',
  'geometry': {'coordinates': ['0.0', '0.0'], 'type': 'Point'},
  'hdg': '0',
  'lat': '0.0',
  'lon': '0.0',
  'mode': '0',
  'oid': 'N/A',
  'or': 'true',
  'origtatripno': None,
  'pdist': '0',
  'pid': '-1',
  'psgld': 'EMPTY',
  'rid': 'N/A',
  'rt': 'U',
  'spd': '0',
  'srvtmstmp': '20220111 05:45',
  'tablockid': 'N/A',
  'tatripid': 'N/A',
  'timestamp': 1641897900,
  'tmstmp': '20220111 05:45',
  'tripdyn': '0',
  'vid': '722',
  'zone': None},
 {'_id': {'$oid': '61dd6007248c4f2ab8aa0faf'},
  'des': None,
  'dly': 'false',
  'geometry': {'coordinates': ['0.0', '0.0'], 'type': 'Point'},
  'hdg': '0',
  'lat': '0.0',
  'lon': '0.0',
  'mode': '0',
  'oid': 'N/A',
  'or': 'true',
  'origtatripno': None,
  'pdist': '0',
  'pid': '-1',
  'psgld': 'EMPTY',
  'rid': 'N/A',
  'rt': 'U',
  'spd': '0',
  'srvtmstmp': '20220111 05:45',
  'tablockid': 'N/A',
  'tatripid': 'N/A',
  'timestamp': 1641897900,
  'tmstmp': '20220111 05:45',
  'tripdyn': '0',
  'vid': '722',
  'zone': None},
 {'_id': {'$oid': '61dd6025248c4f2ab8aa0fd1'},
  'des': None,
  'dly': 'false',
  'geometry': {'coordinates': ['0.0', '0.0'], 'type': 'Point'},
  'hdg': '0',
  'lat': '0.0',
  'lon': '0.0',
  'mode': '0',
  'oid': 'N/A',
  'or': 'true',
  'origtatripno': None,
  'pdist': '0',
  'pid': '-1',
  'psgld': 'EMPTY',
  'rid': 'N/A',
  'rt': 'U',
  'spd': '0',
  'srvtmstmp': '20220111 05:45',
  'tablockid': 'N/A',
  'tatripid': 'N/A',
  'timestamp': 1641897900,
  'tmstmp': '20220111 05:45',
  'tripdyn': '0',
  'vid': '722',
  'zone': None},
 {'_id': {'$oid': '61dd6044248c4f2ab8aa0ff4'},
  'des': None,
  'dly': 'false',
  'geometry': {'coordinates': ['0.0', '0.0'], 'type': 'Point'},
  'hdg': '0',
  'lat': '0.0',
  'lon': '0.0',
  'mode': '0',
  'oid': 'N/A',
  'or': 'true',
  'origtatripno': None,
  'pdist': '0',
  'pid': '-1',
  'psgld': 'EMPTY',
  'rid': 'N/A',
  'rt': 'U',
  'spd': '0',
  'srvtmstmp': '20220111 05:45',
  'tablockid': 'N/A',
  'tatripid': 'N/A',
  'timestamp': 1641897900,
  'tmstmp': '20220111 05:45',
  'tripdyn': '0',
  'vid': '722',
  'zone': None},
 {'_id': {'$oid': '61dd6062248c4f2ab8aa1016'},
  'des': None,
  'dly': 'false',
  'geometry': {'coordinates': ['0.0', '0.0'], 'type': 'Point'},
  'hdg': '0',
  'lat': '0.0',
  'lon': '0.0',
  'mode': '0',
  'oid': 'N/A',
  'or': 'true',
  'origtatripno': None,
  'pdist': '0',
  'pid': '-1',
  'psgld': 'EMPTY',
  'rid': 'N/A',
  'rt': 'U',
  'spd': '0',
  'srvtmstmp': '20220111 05:45',
  'tablockid': 'N/A',
  'tatripid': 'N/A',
  'timestamp': 1641897900,
  'tmstmp': '20220111 05:45',
  'tripdyn': '0',
  'vid': '722',
  'zone': None}]

In [17]:
filtered = []
electric_trips = {}
for record in dated:
  print(record)
  break
  # print(int(record['vid']))
  # if (int(record['vid']) >= 703 and int(record['vid'])<=728 ) or (int(record['vid'])>=751 and int(record['vid'])<=753):
  #   electric_trips.append(record) 
# electric_trips[:5]

204959

In [12]:
arr = [ 2, 3,4 ,5, 1]
t= {}
for i in arr:

KeyError: ignored

In [29]:
data2 =dated
for_sort = []
for record in data2:
    trp = record["origtatripno"]
    if trp:
        for_sort.append(trp)

unique_trp = list(set(for_sort))
unique_trp.sort()

print(len(unique_trp))
unique_trp

92

['205649',
 '205650',
 '205651',
 '205652',
 '205653',
 '205664',
 '205665',
 '205666',
 '205667',
 '205668',
 '205729',
 '205753',
 '206048',
 '206049',
 '206050',
 '206051',
 '206052',
 '206053',
 '206054',
 '206055',
 '206056',
 '206057',
 '206058',
 '206059',
 '206060',
 '206061',
 '206062',
 '206063',
 '206064',
 '206065',
 '206066',
 '206067',
 '206068',
 '206070',
 '206071',
 '206072',
 '206073',
 '206074',
 '206075',
 '206076',
 '206077',
 '206078',
 '206079',
 '206080',
 '206081',
 '206082',
 '206083',
 '206084',
 '206085',
 '206086',
 '206087',
 '206088',
 '206089',
 '206090',
 '206282',
 '206293',
 '206324',
 '206336',
 '206759',
 '206766',
 '206780',
 '206786',
 '206862',
 '206864',
 '206866',
 '206868',
 '206870',
 '206872',
 '206874',
 '206877',
 '206880',
 '206883',
 '206886',
 '206889',
 '206892',
 '206895',
 '206898',
 '206939',
 '206941',
 '206943',
 '206945',
 '206947',
 '206949',
 '206951',
 '206954',
 '206957',
 '206960',
 '206963',
 '206966',
 '206969',
 '206972',
 '206975']

In [47]:
# for r in dated:
  # print(r['des'])

In [34]:
elec_trips=[]
data2 = dated
for trp in unique_trp:
  temp_trips = None
  tripno = None
  for record in data2:
    if record['origtatripno'] == trp:
      temp_trips = record
      tripno = trp
  elec_trips.append(temp_trips)

In [39]:
import csv
keys = elec_trips[0].keys()

with open('elec_details.csv', 'w', newline='') as output_file:
    dict_writer = csv.DictWriter(output_file, keys)
    dict_writer.writeheader()
    dict_writer.writerows(elec_trips)
# elec_trips.to_csv('elec_details.csv', index=False)

In [45]:
import pandas as pd
df1 = pd.read_csv('electric_all_time_and_soc.csv')
df2 = pd.read_csv('elec_details.csv')
# df2.head()

In [57]:
# df3 = pd.Dataframe()
# for index, row in df1.iterrows():
#   for index2, row2 in df2.iterrows():
#     if int(row['trip_id']/1000) == int(row['tatripid']):
#       df3.loc[index] =    
df1['trip_id'] = df1['trip_id'].div(1000).round(0)
df3 = pd.merge(df1,df2[['hdg', 'lat', 'lon', 'des', 'vid', 'tablockid', 'tatripid' ]], left_on='trip_id', right_on='tatripid', how='left')

In [58]:
df3

,trip_id,start_time,start_time_ms,end_time,end_time_ms,start_soc,end_soc,kWh_used,hdg,lat,lon,des,vid,tablockid,tatripid
0,205649.0,11:20:32,40832000.0,11:56:41,43001000.0,0.899999,0.848485,16.690703,98,34.986843,-85.332905,ST.ELMO/INCLINE,728,150115 A,205649
1,205650.0,10:30:00,37800000.0,11:10:05,40205000.0,0.899999,0.845142,17.774131,92,34.986826,-85.332651,ST. ELMO/INCLINE,728,150115 A,205650
2,205651.0,9:40:00,34800000.0,10:17:05,37025000.0,0.899999,0.849582,16.335288,98,34.987344,-85.333138,ST. ELMO/INCLINE,728,150115 A,205651
3,205652.0,8:50:00,31800000.0,9:27:10,34030000.0,0.899999,0.845951,17.511781,101,34.986870,-85.333260,ST. ELMO/INCLINE,728,150115 A,205652
4,205653.0,8:00:00,28800000.0,8:39:47,31187000.0,0.899999,0.848544,16.671862,92,34.986820,-85.332558,ST.ELMO/INCLINE,728,150115 A,205653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,206886.0,11:50:00,42600000.0,12:08:11,43691000.0,0.899999,0.877329,7.345549,13,35.053828,-85.311832,SHUTTLE,703,3302DTS,206886
88,206889.0,12:20:00,44400000.0,12:39:52,45592000.0,0.899999,0.879237,6.727056,1,35.053768,-85.311829,SHUTTLE,703,3302DTS,206889
89,206892.0,12:50:00,46200000.0,13:07:07,47227000.0,0.899999,0.879969,6.490065,100,35.053893,-85.311835,SHUTTLE,703,3302DTS,206892
90,206895.0,13:20:00,48000000.0,13:35:26,48926000.0,0.899999,0.880441,6.337041,31,35.053948,-85.311745,SHUTTLE,703,3302DTS,206895
91,206898.0,13:50:00,49800000.0,14:06:09,50769000.0,0.899999,0.878857,6.850365,4,35.053824,-85.311832,SHUTTLE,703,3302DTS,206898

In [59]:
df3.to_csv('elec_merged.csv', index=False)

In [8]:
import json
df = pd.read_csv("trips.txt", sep=",")

trips = unique_trp
trips = list(map(int, trips))

df_fil  = pd.DataFrame(columns = df.columns)

indices = []
for trip in trips:
    for index, row in df.iterrows():       
        if trip == int(row['trip_id']/1000):
            
            indices.append(index)
            df_fil.append(row, ignore_index=True)
            break


df_fil = df.iloc[indices]
print(df_fil.head())
df_fil.to_csv('df_fil_11.csv', index=False)

     trip_id route_id  service_id trip_headsign  trip_short_name  \
0  204888020        1           1    ALTON PARK              NaN
1  204889020        1           1    ALTON PARK              NaN
2  204890020        1           1    ALTON PARK              NaN
3  204891020        1           1    ALTON PARK              NaN
4  204892020        1           1    ALTON PARK              NaN

   direction_id  block_id  shape_id  wheelchair_accessible  bikes_allowed  \
0             0      1002  shp-1-04                      2              2
1             0      2802  shp-1-03                      2              2
2             0      3002  shp-1-03                      2              2
3             0      2802  shp-1-03                      2              2
4             0      3002  shp-1-03                      2              2

   block_name
0         107
1         155
2         156
3         155
4         156